body, html { /*This part make the image was responsive*/
    background-image: url(../img/hd.jpg); 
    background-repeat:no-repeat;
    height: 100vh;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
  }

  label, h2{
      color:lightgreen;
  }

  .sticky-top{
    float:right;
  }